argocd-apps:
  applications:
    sealed-secrets:
      namespace: argocd
      project: default
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
      source:
        repoURL: https://github.com/eduardoschulz/homelab.git 
        targetRevision: master
        path: charts/sealed-secrets 
      destination:
        server: https://kubernetes.default.svc
        namespace: kube-system

    # Example for a second app using the same repo:
    # my-second-app:
    #   project: homelab
    #   source:
    #     repoURL: https://github.com/eduardoschulz/homelab.git 
    #     targetRevision: master
    #     path: another-app-directory
    #   destination:
    #     server: https://kubernetes.default.svc
    #     namespace: another-namespace
