config:
  spec:
    projectName: homelab
    landscape: local
    destination:
      server: https://kubernetes.default.svc
    source:
      repoURL: https://github.com/argoproj/argocd-example-apps
      targetRevision: master


sync:
  automated: true
  prune: true
  selfHeal: true

repository:
 main:
   repository: https://github.com/eduardoschulz/homelab.git
   revision: master

applications:
 essentials:
   project: homelab
   apps:
     sealed-secrets:
       enabled: true
       repository: main
       namespace: kube-system
       path: charts/sealed-secrets
       parameters: []

