argocd-apps:
  projectName: homelab
  landscape: local

  sync:
    automated: true
    prune: true
    selfHeal: true

  repository:
   main:
     repository: https://github.com/eduardoschulz/homelab.git
     revision: master

  applications:
   essentials:
     project: homelab
     apps:
       sealed-secrets:
         enabled: true
         repository: main
         namespace: kube-system
         path: charts/sealed-secrets
         parameters: []

